<!DOCTYPE html>
<html lang="fa" class="no-js" dir="rtl">

<head>
    {% load static %}
    {% load compress %}
    <meta charset="utf-8" />
    <meta name="description" content="خدمات نویز، خدمات طراحی سایت و انواع پروژه های برنامه نویسی" />
    <meta name="keywords" content="خدمات طراحی وب، خدمات نویز، نویز سرویس، طراحی وب سایت، طراحی فروشگاه، گروه طراحی سایت، اسماعیل کمیجانی، نویز، WebDesign, Design Website, ساخت فروشگاه با وردپرس، تعرفه ساخت فروشگاه با وردپرس، تعرفه ساخت سایت با وردپرس، طراحی سایت با جنگو، ساخت فروشگاه با جنگو">
    <meta name="author" content="Noise-services.ir, اسماعیل کمیجانی، خدمات نویز">
    <meta name="google-site-verification" content="4B8IZFAAQtR92vnT6xQn63X1OG0fVwWn-JSqFB6N2eU" />
    <title>{% block title %} خانه {% endblock %} - خدمات نویز</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="Esmaeel Komijani" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
    {% compress css %}
    <link href="{% static 'main/vendor/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'main/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'main/css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'main/vendor/swiper/css/swiper.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'main/css/rtl.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'main/css/master.css' %}" rel="stylesheet" type="text/css">
    {% endcompress %}
    {% block stylesheet %}
    {% endblock %}
</head>
<body>
    <header class="header">
        {% include 'components/navbar.html' %}
    </header>
    {% block content %}
    {% endblock %}
    {% include 'components/footer.html' %}
    {% compress js %}
    <a href="javascript:void(0);" class="js-back-to-top back-to-top">بالا</a>
    <script src="{% static 'main/vendor/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/vendor/jquery-migrate.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/vendor/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/vendor/jquery.easing.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/vendor/jquery.back-to-top.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/vendor/jquery.smooth-scroll.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/vendor/jquery.wow.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/vendor/swiper/js/swiper.jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/vendor/masonry/jquery.masonry.pkgd.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/vendor/masonry/imagesloaded.pkgd.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/layout.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/components/wow.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/components/swiper.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/components/masonry.min.js' %}" type="text/javascript"></script>
    {% endcompress %}
    {% block javascript %}
    {% endblock %}
</body>
</html>