<!DOCTYPE html>
<!-- ==============================

================================== -->
<html html lang="fa" class="no-js" dir="rtl">
<!-- BEGIN HEAD -->

<head>
    {% load static %}
    <meta charset="utf-8" />
    <title>{% block title %} Base {% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="Esmaeel Komijani" name="author" />

    
    {% block stylesheet %}
      <!-- GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
    <link href="{% static 'main/vendor/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'team/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- PAGE LEVEL PLUGIN STYLES -->
    <link href="{% static 'team/css/animate.css' %}" rel="stylesheet">

    <!-- THEME STYLES -->
    
    <link href="{% static 'team/css/rtl_team.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'main/css/master.css' %}" rel="stylesheet" type="text/css">
    {% endblock  %}
    <!-- Favicon -->
    {% comment %}
    <link rel="shortcut icon" href="favicon.ico" /> {% endcomment %}
</head>
<!-- END HEAD -->

<!-- BODY -->

<body id="body" data-spy="scroll" data-target=".header">

    <!--========== HEADER ==========-->
    <header class="header navbar-fixed-top">
        <!-- Navbar -->
        {% include 'components/team/team_navbar.html' %}
        <!-- End Navbar -->
    </header>
    <!--========== END HEADER ==========-->

    <!--========== SLIDER ==========-->
    {% include 'components/team/team_slider.html' %}
    <!--========== SLIDER ==========-->

    <!--========== PAGE LAYOUT ==========-->
    {% block content %}
    
    {% endblock content %}
    <!--========== END PAGE LAYOUT ==========-->

    <!--========== FOOTER ==========-->
    {% include 'components/footer.html' %}
    <!--========== END FOOTER ==========-->

   

    {% block javascript %}
       <!-- Back To Top -->
    <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

    <!-- JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- CORE PLUGINS -->
    <script src="{% static 'team/vendor/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'team/vendor/jquery-migrate.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'team/vendor/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>

    <!-- PAGE LEVEL PLUGINS -->
    <script src="{% static 'team/vendor/jquery.easing.js' %}" type="text/javascript"></script>
    <script src="{% static 'team/vendor/jquery.back-to-top.js' %}" type="text/javascript"></script>
    <script src="{% static 'team/vendor/jquery.smooth-scroll.js' %}" type="text/javascript"></script>
    <script src="{% static 'team/vendor/jquery.wow.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'team/vendor/jquery.parallax.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'team/vendor/jquery.appear.js' %}" type="text/javascript"></script>
    <script src="{% static 'team/vendor/masonry/jquery.masonry.pkgd.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'team/vendor/masonry/imagesloaded.pkgd.min.js' %}" type="text/javascript"></script>

    <!-- PAGE LEVEL SCRIPTS -->
    <script src="{% static 'team/js/layout.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'team/js/components/progress-bar.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'team/js/components/masonry.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'team/js/components/wow.min.js' %}" type="text/javascript"></script>
    {% endblock  %}

</body>
<!-- END BODY -->

</html>