<div class="content-md container">
    <div class="row margin-b-40">
        <div class="col-sm-6 ">
            <h2>{{customer_intro.title}}</h2>
            <p>{{customer_intro.description}}</p>
        </div>
    </div>
    <div class="swiper-slider swiper-clients">
        <div class="swiper-wrapper">
            {% for customer in customers %}
            <div class="swiper-slide">
                <img class="swiper-clients-img" src="{{customer.logo.url}}" alt="{{customer.name}}">
            </div>
            {% endfor %}
        </div>
    </div>
</div>