<div class="bg-color-sky-light">
    <div class="content-md container">
        <div class="row margin-b-40">
            <div class="col-sm-12 text-center">
                <h2>{{team_mates_intro.title}}</h2>
                <p>{{team_mates_intro.description|safe|linebreaks}}</p>
            </div>
        </div>
        <div class="row">
            {% for team_mate in team_mates reversed %}
            <div class="col-sm-4 margin-b-20 {% if team_mates.count == 1 %} col-sm-offset-4 {% else %} col-sm-offset-2 {% endif %}">
                <div class="bg-color-white margin-b-20">
                    <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                        <img class="img-responsive" src="{{team_mate.picture_small.url}}" alt="{{team_mate.name}}">
                    </div>
                </div>
                <h4><a href="{{team_mate.get_absolute_url}}">{{team_mate.name}} - {{team_mate.last_name}}</a> <span
                        class="text-uppercase margin-l-20">{{team_mate.job_title}}</span> </h4>
                <p>{{team_mate.description}}</p>
                <a class="link" href="{{team_mate.get_absolute_url}}">بیشتر</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>