<div class="content-md container">
    <div class="row">
        <div class="col-sm-9">
            <h2>{{testimonial_intro.title}}</h2>
            <div class="swiper-slider swiper-testimonials">
                <div class="swiper-wrapper">
                    {% for testimonial in testimonials %}
                    <div class="swiper-slide">
                        <blockquote class="blockquote">
                            <div class="margin-b-20">
                                {{testimonial.text|safe|linebreaks}}
                            </div>
                            <p><span class="fweight-700 color-link">{{testimonial.from_who}}</span>,
                                {{testimonial.job_title}}</p>
                        </blockquote>
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-testimonials-pagination"></div>
            </div>
        </div>
    </div>
</div>