<!-- Work -->
<div class="bg-color-sky-light">
        <div class="content-md container">
            <!-- Masonry Grid -->
            <div class="masonry-grid">
                <div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-6"></div>
                <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-6">
                    <!-- Work -->
                    <div class="work">
                        <div class="work-overlay">
                            <img class="full-width img-responsive" src="img/595x483/01.jpg" alt="Portfolio Image">
                        </div>
                        <div class="work-content">
                            <h3 class="color-white margin-b-5">Art Of Coding</h3>
                            <p class="color-white margin-b-0">Lorem ipsum dolor sit amet consectetur adipiscing</p>
                        </div>
                        <a class="content-wrapper-link" href="#"></a>
                    </div>
                    <!-- End Work -->
                </div>
                <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-6">
                    <!-- Work -->
                    <div class="work">
                        <div class="work-overlay">
                            <img class="full-width img-responsive" src="img/595x240/01.jpg" alt="Portfolio Image">
                        </div>
                        <div class="work-content">
                            <h3 class="color-white margin-b-5">Clean Design</h3>
                            <p class="color-white margin-b-0">Lorem ipsum dolor sit amet consectetur adipiscing</p>
                        </div>
                        <a class="content-wrapper-link" href="#"></a>
                    </div>
                    <!-- End Work -->
                </div>
                <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-6">
                    <!-- Work -->
                    <div class="work">
                        <div class="work-overlay">
                            <img class="full-width img-responsive" src="img/595x240/02.jpg" alt="Portfolio Image">
                        </div>
                        <div class="work-content">
                            <h3 class="color-white margin-b-5">Amazing Support</h3>
                            <p class="color-white margin-b-0">Lorem ipsum dolor sit amet consectetur adipiscing</p>
                        </div>
                        <a class="content-wrapper-link" href="#"></a>
                    </div>
                    <!-- End Work -->
                </div>
            </div>
            <!-- End Masonry Grid -->
        </div>
    </div>
    <!-- End Work -->