<!-- Work -->
<div id="work">
    <div class="container content-lg">
        <div class="row">

            <div class="col-sm-3 sm-margin-b-30">
                <div class="text-left sm-text-left">
                    <h2 class="margin-b-0">پروژه ها</h2>
                    <p>پروژه هایی که من در آن شرکت داشتم</p>
                </div>
            </div>

            <div class="col-sm-8">
                <!-- Masonry Grid -->
                <!-- Work -->
                <div class="bg-color-sky-light overflow-h">
                    <div class="content-md container">
                        <div class="row margin-b-40">
                            <div class="col-sm-6">
                                <h2>{{projects_intro.title}}</h2>
                                <p>{{projects_intro.description}}</p>
                            </div>
                        </div>
                        <!--// end row -->

                        <!-- Masonry Grid -->
                        <div class="masonry-grid">
                            <div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-1"></div>
                            {% for project in team_mate_projects reversed%}

                            <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                                <!-- Work -->
                                <div class="work">
                                    <div class="work-overlay">
                                        <img class="full-width img-responsive" src="{{project.image.url}}" alt="{{project.name}}">
                                    </div>
                                    <div class="work-content">
                                        <h3 class="color-white margin-b-5">{{project.name}}</h3>
                                        <p class="color-white margin-b-0">{{project.description}}</p>
                                    </div>
                                    <a class="content-wrapper-link" href="{{project.image.url}}"></a>
                                </div>
                                <!-- End Work -->
                            </div>
                            {% endfor %}
                        </div>
                        <!-- End Masonry Grid -->
                    </div>
                </div>
                <!-- End Work -->

                <!-- End Masonry Grid -->
            </div>



        </div>
        <!--// end row -->
    </div>
</div>
<!-- End Work -->