<div id="about">
    <div class="container content-lg">
        <div class="row">
            <div class="col-sm-3 sm-margin-b-30">
                <div class="text-left sm-text-left">
                    <h2 class="margin-b-0">معرفی</h2>
                    <p>مواردی درباره من</p>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="margin-b-60">
                    <p>{{team_mate_detail.description|safe|linebreaks}}</p>
                </div>
                {% for person_skill in team_mate_detail.person_skills.all %}
                <div class="progress-box text-left">
                    <h5>{{person_skill.skill_name}} &ThickSpace; <span class="color-heading pull-right">{{person_skill.skill_level}}%</span></h5>
                    <div class="progress">
                        <div class="progress-bar bg-color-base" role="progressbar" data-width="{{person_skill.skill_level}}"></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>