<!-- Experience -->
<div id="experience">
    <div class="bg-color-sky-light" data-auto-height="true">
        <div class="container content-lg">
            <div class="row">

                <div class="col-sm-8 col-sm-offset-1">
                    <div class="row row-space-2 margin-b-4">
                        {% for person_skill in team_mate_detail.person_skills.all %}
                        {% if person_skill.skill_is_special %}
                        <div class="col-md-4 md-margin-b-4">
                            <div class="service bg-success" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-bulb"></i>
                                </div>
                                <div class="service-info">
                                    <h3>{{person_skill.skill_name}}</h3>
                                    <p class="margin-b-5">{{person_skill.description}}</p>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>
                            </div>
                        </div>
                        {% endif %}

                        {% empty %}
                        <div></div>
                        {% endfor %}
                    </div>
                    <!--// end row -->
                </div>

                <div class="col-sm-3 sm-margin-b-30">
                    <div class="text-right sm-text-left">
                        <h2 class="margin-b-0">تجربیات</h2>
                        <p>بیشتر در این زمینه ها فعالیت داشتم</p>
                    </div>
                </div>
            </div>
            <!--// end row -->
        </div>
    </div>
</div>
<!-- End Experience -->