<div id="contact">
    <div class="bg-color-sky-light">
        <div class="container content-lg">
            <div class="row">
                <div class="col-sm-4 sm-margin-b-30">
                    <div class="text-left sm-text-left">
                        <h2 class="margin-b-0">ارتباط با {{team_mate_detail.name}}</h2>
                        <p>با من در تماس باشید :)</p>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-md-4 col-xs-6">
                            <h5>ایمیل</h5>
                            <a href="mailto:{{team_mate_detail.email}}">{{team_mate_detail.email}}</a>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <h5>وبسایت</h5>
                            <a href="{{team_mate_detail.website}}">{{team_mate_detail.website}}</a>
                        </div>
                        <div class="col-md-4 col-xs-6 md-margin-b-30">
                            <h5>مکان</h5>
                            <a href="#">{{team_mate_detail.contact_location}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>